html
	head
		meta(charset='utf-8')
		meta(name='description', content='')
		meta(name="google-site-verification" content="6wG8NVsNPZWpO4XO_8w7RBifniODWtddYnODziqCgoA")

		block title_default
			title ListingConnect Blog

		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js')
		//- script(src="/js/vendor.js")

		link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
		link(rel='icon', href='/favicon.ico', type='image/x-icon')

		link(href="/stylesheets/style.css", rel="stylesheet", type="text/css")
		link(href="/stylesheets/main.css", rel="stylesheet", type="text/css")
		link(href="/stylesheets/font-awesome.css", rel="stylesheet", type="text/css")
		link(href="/stylesheets/my-custom-styles.css", rel="stylesheet", type="text/css")
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')

		block head
			// Overridable with `block head` in pages

	body
		block header
			include header.jade
		.clearfix
		block body
		.clearfix
		include footer.jade
		.clearfix

		block foot

		block scripts
